Functional Requirements:

FR1: The system should analyse the user input text using the controller agent and determine whether it is vague.
FR2: If the user input is flagged as "is_vague: true", the system should trigger the Clarifier agent to generate Clarification MCQ questions.
FR3: The Clarifier Agent should generate a minimum "n" number of MCQ Questions to resolve the ambiguity in user input.
FR4: The system should combine the user input + answers for the clarification questions + additional information before passing the data to next Planner Agent.
FR5: The system should ensure that data flows strictly in the given pipeline order: Planner → Structurer → Validator → Enhancer.
FR6: Planner Agent should break the user's input context into a list of phases and milestones.
FR7: Structurer Agent should transform the list of phases into a nested tree JSON hierarchy.
FR8: Validator Agent 